@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:rgb(41, 41, 41);
}

h1{
    margin-top: 1.5rem;
    color: #6fb88f;
    text-align: center;
    opacity: 1;
    font-size: 9.5rem;
}

form{
    margin: auto;
    max-width: 100%;
    width: 400px;
    position: relative;
    margin-top: -100px;
}

.input{
    border: none;
    padding: 1rem 2rem;
    display: block;
    width: 100%;
    font-size: 2rem;
}

.input::placeholder {
    color:rgb(52, 168, 149)
}

.todos{
    background-color: rgba(24, 1, 1, 0.144);
    padding: 0;
    margin:0; 
    list-style: none;
}

.todos li{
    border-top: 1px solid rgb(0, 0, 0);
    color: #6fb88f;
    font-size: 1.5rem;
    padding: .4rem 2rem;
}

.todos li.completed{
    transition: transform .7s;
    transform-style: preserve-3d;
    transform: rotateX(360deg);
    color: #ff0000;
    text-decoration: line-through;
}

small {
    color: #d6d6d6;
    margin-top: 3rem;
    text-align: center;
}

.xsmall{
    color: rgb(56, 91, 243);
    margin-top: 1.5rem;
    text-align: center;
    font-size: 8px;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

